
section {
    height: fit-content;
}

h2 {
    color: darkolivegreen;
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    background-color: bisque;

    font-family: 'Unbounded', cursive;

}

h1 {
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
    font-size: 70px;
    font-family: 'Unbounded', cursive;
    
   
}
h4 {
    color: midnightblue;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    border: 1px slateblue solid;
    text-align: center;
    background-color: grey;
    margin-left: 1cm;
    margin-right: 1cm;
    font-family: 'Unbounded', cursive;
    
}

.imgRedonda {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid lavender;
    margin-left: 5cm;

    
}

.carrousel {
    text-align: center;
    width: 200px;
    height: 200px;
    border: 5px solid darkkhaki;


}

section#hero {
    justify-content: center;
    background-color: darkkhaki;
    display: flex;
    margin-top: 0cm;
    

}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;

}

nav ul li {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: darkkhaki;
    text-align: center;
    



}

header {
    padding-top: 30px;
    padding-bottom: 30px;
    color: bisque;
    position: sticky;
    top: 0;
    background-color: blanchedalmond;
}



h3 {
    color: rgb(121, 115, 115);
    font-family: 'Unbounded', cursive;

}

section#miMusica {
     text-align: center;
    

}

section#sobreMi {
    display: flex;
}

p {
    color: darkolivegreen;
    background-color: blanchedalmond;
    margin-left: 1cm;
    margin-right: 1cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}

.material-symbols-outlined {
    text-align: center;
    margin-left: 3px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48,
  }


  h5 {
    background-color: darkkhaki;
    font-size: larger;
    color: white;
    margin-right: 12cm;
    margin-left: 12cm;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .instagram {
    text-align: center;
    width: 100px;
    height: 100px;
    border: 5px solid darkkhaki;
   
    margin-left: 1cm;

  }

  .linkedin {
        text-align: center;
        width: 100px;
        height: 100px;
        border: 5px solid darkkhaki;
        margin-left: 14cm;
  }

  #demo {

    background-color: darkblue;
    color: white;
    text-align: center;
  }

  #boton {

    background-color: bisque;
    color: darkkhaki;
    text-align: center;
    margin-left: 16.5cm;
    width: 100px;
    height: 100px;
    font-size: larger;
  }
  









   